.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1.5px solid #40495F;
    border-radius: 4px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
}
button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #40495F;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left : 42.5em;
}

button:hover {
    background-color: #000000;
}

