<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderWeave</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">
</head>
<body>

<div class="container">
    <p>WanderWeave</p>
    <form action="/join"  method="post">
        <div class="inputGroup">

            <input type="text" name="userName" id="userName" class="join" placeholder="Name">
            <input type="email" name="userEmail" id="userEmail" class="login" placeholder="email">
            <input type="password" name="password" id="password" class="join" placeholder="password">
            <input type="text" name="birthday" id="birthday" class="join" placeholder="생년월일">
            <input type="text"  name="userPhone" id="userPhone" class="join" placeholder="phone">

        </div>
        <button type="submit" class="join_btn" value="join">JOIN</button>
    </form>
</div>

</body>
</html>